@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');



body {
    cursor: url(/assets/imgs/cursor.png)50 50, auto !important;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Neue Haas Grotesk Display Pro', Sans-Serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;

}

.nav{
    width: 100vw;
    height: 10vh;

    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.items{
    width: 100vw;
    height: auto;

    padding-bottom: 4rem;
}


footer{
    margin-top: 4rem;
    margin-bottom: 10rem;
}

hr {
    border: 0.5px #000 solid;
    opacity: 1;
    
}

.person{
    margin-top: 3rem;
}

.type{
    font-family: 'Times New Roman', Times, serif;
}

.linkedin{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

@media only screen and (max-width: 545px) {
    
    .about-desc {
        font-size: 1.9rem;
    }


}