@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



body {
    cursor: url(/Assets/cursor.png)50 50, auto !important;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.9rem;

}

.nav{
    width: 100vw;
    height: 10vh;

    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}

.items{
    width: 100vw;
    height: 70vh;

    padding-top: 5rem;
}

.item1{
    width: 100vw;
    height: 70vh;

    padding-top: 4rem;
}

footer{
    padding-top: 7rem;
    padding-bottom: 10rem;
}

hr {
    border: 0.5px #000 solid;
    opacity: 1;
}